:root {
    font-family: monospace;
    background-color: slategrey;
    color: whitesmoke;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    margin: 32px;
    width: 256px;
    height: 256px;
    font-size: 32px;
    cursor: pointer;
    background-color: lightslategray;
    transition: 0.2s;
}

p:hover {
    background-color: darkslategray;
    font-size: 36px;
    box-shadow: 4px 4px 8px 0px darkslategray;
    transform: translate(0, -3px);
}