:root {
    font-family: monospace;
    background-color: lightslategrey;
    color: whitesmoke;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
}

.altitude,
.temperature,
.pressure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    margin: 32px;
    width: 256px;
    height: 256px;
    font-size: 32px;
    cursor: pointer;
    background-color: slategray;
    transition: all 0.2s;
}

hr {
    transition: all 0.2s;
}

.altitude:hover,
.temperature:hover,
.pressure:hover {
    background-color: darkslategray;
    font-size: 36px;
    box-shadow: 4px 4px 8px 0px darkslategray;

    hr {
        width: 80%;
        transition: all 0.2s;
    }
}